<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1> - 
                <h3>años</h3>
            </li>
            <p>Cras rutrum purus quis purus consectetur varius. Donec tristique venenatis viverra. Praesent sit amet nunc in felis laoreet varius. Cras pretium, eros volutpat vulputate aliquam, augue mi vestibulum nisl, sit amet congue orci nisi quis elit. Aliquam a luctus felis. Proin tempor tristique urna eu facilisis. Praesent tempus faucibus nisl.</p>

        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - 
                <h3>años</h3>
            </li>
            <p>Cras rutrum purus quis purus consectetur varius. Donec tristique venenatis viverra. Praesent sit amet nunc in felis laoreet varius. Cras pretium, eros volutpat vulputate aliquam, augue mi vestibulum nisl, sit amet congue orci nisi quis elit. Aliquam a luctus felis. Proin tempor tristique urna eu facilisis. Praesent tempus faucibus nisl.</p>

        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1> - 
                <h3>años</h3>
            </li>
            <p>Cras rutrum purus quis purus consectetur varius. Donec tristique venenatis viverra. Praesent sit amet nunc in felis laoreet varius. Cras pretium, eros volutpat vulputate aliquam, augue mi vestibulum nisl, sit amet congue orci nisi quis elit. Aliquam a luctus felis. Proin tempor tristique urna eu facilisis. Praesent tempus faucibus nisl.</p>

        </ul>
    </div>
</div>
