<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/1682460026727.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Luis Matias Saravia</p>
        <p>Estudiante de la universidad catolica de cordoba</p>
    
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Cras rutrum purus quis purus consectetur varius. Donec tristique venenatis viverra. Praesent sit amet nunc in felis laoreet varius. Cras pretium, eros volutpat vulputate aliquam, augue mi vestibulum nisl, sit amet congue orci nisi quis elit. Aliquam a luctus felis. Proin tempor tristique urna eu facilisis. Praesent tempus faucibus nisl.</p>
        </span>
    </div>
</div>
